<form action="#" method="post">
	<div class="mailletters input-group">
	  <input type="email" name="mail_letters" id="mail_letters" value="" placeholder="<?php echo $aridius_letters_placeholder[$language_id]; ?>" class="form-control input-lg" />
	  <span class="input-group-btn">
	  <button type="submit" class="btn btn-send btn-lg" onclick="return subscribe();" > <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
	  </span>
	</div>
</form>
	  <div class="message_email"></div>	
      <div class="message_compare"></div>	
	  <div class="message_success"></div>
	  <?php if ($aridius_lettersdes_status == '1') { ?>	
	  <?php echo html_entity_decode($aridius_letters_description[$language_id]); ?>	
	  <?php } ?>		  

