/* ef-slider START*/
.ef-slider1{
    -webkit-animation: 300ms linear 1200ms both rotateInDownLeft;
    -moz-animation: 300ms linear 1200ms both rotateInDownLeft;
    -o-animation: 300ms linear 1200ms both rotateInDownLeft;
    -ms-animation: 300ms linear 1200ms both rotateInDownLeft;
    animation: 300ms linear 1200ms both rotateInDownLeft;
}
.ef-slider2{ -webkit-animation: 700ms linear 300ms both fadeInUp;
    -moz-animation: 300ms linear 700ms both fadeInUp;
    -o-animation: 300ms linear 700ms both fadeInUp;
    -ms-animation: 300ms linear 700ms both fadeInUp;
    animation: 300ms linear 700ms both fadeInUp;
}
.ef-slider3{
    -webkit-animation: 300ms linear 2000ms both rotateInDownLeft;
    -moz-animation: 300ms linear 2000ms both rotateInDownLeft;
    -o-animation: 300ms linear 2000ms both rotateInDownLeft;
    -ms-animation: 300ms linear 2000ms both rotateInDownLeft;
    animation: 300ms linear 2000ms both rotateInDownLeft;
}
.ef-slider4{
    -webkit-animation: 300ms linear 2500ms both fadeInUp;
    -moz-animation: 300ms linear 2500ms both fadeInUp;
    -o-animation: 300ms linear 2500ms both fadeInUp;
    -ms-animation: 300ms linear 2500ms both fadeInUp;
    animation: 300ms linear 2500ms both fadeInUp;
}
.text-slider1{
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;
    left: 20px; top: 40px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.text-slider2{
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;
    left: 20px; top: 77px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.text-slider3{
    position: absolute;
    color: #FFFFFF;
    font-size: 22px;
    left: 20px;
    top: 114px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.text-slider4{
    position: absolute;
    color: white;
    font-size: 22px;
    left: 20px;
    top: 160px;
    padding: 5px;
}
.btn-slider {
    background: #50463b none repeat scroll 0 0;
    border: 1px solid #737373;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px;
    margin-top: 20px;
}
.btn-slider:hover {
    background: #6E6051;
    color: #fff;
}
/* ---------------- */ /* ef-slider END */ /* ---------------- */








.mfp-gallery .image_title {
font-size: 18px;
color: #ccc;
top: 9px;
position: absolute;
}
.button_sh{
cursor: pointer;
}
.block_desc {
height: 150px;
overflow: hidden;
position: relative;
}
.block_desc.opener {
height: auto;
}
.block_desc.opener:after {
opacity: 0;
}
.block_desc:after {
content: "";
width: 100%;
left: 0;
position: absolute;
height: 20px;
bottom: 0;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.person_data{	
font-size: 12px;
top: 100%;
left: 5px;
}
.person_data a {	
font-size: 12px;
text-decoration: underline;	
}
.person_data2{
position: absolute;
font-size: 12px;
top: 100%;
left: 5px;
}
.person_data2 a {	
font-size: 11px;
text-decoration: underline;	
}
.text-slider, .text-slider2, .text-slider3, .text-slider5, .text-slider7, .bannercenter-text, .bannercenter-text2, .bannerbottom-text, .bannerright-text {
pointer-events: none;
}
.navright {
float: right;
top: 7px;
}
.catfl {
margin-bottom: 25px;
}
#Spinner_page {
position: fixed;
left: 50%;
top: 50%;
display: none;
text-align: center;
z-index: 1048;
color: #fff;
}
.bag_quickview {
position: fixed;	
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1047;
background: rgba(11, 11, 11, 0.8);
overflow: hidden;
}
.product-info{
border: 1px solid #c8c8c8;
padding: 10px;
}
#content.product-info{
border: 0;
}
.title-product-info{
color: #2f2f2f;
font-size: 16px;
font-weight: 800;
margin: 5px 0 10px;
}
.title-product-info2{
color: #2f2f2f;
font-size: 16px;
font-weight: 400;
margin: 5px 0 10px;
}
.cart-price{
font-size: 14px;
margin-left: 0px;
}
.cart-item{
position: absolute;
width: 27px;
height: 27px;
background: #3C3C3C;
    /*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);*/
border-radius: 1px;
margin-top: 4px;
margin-left: -33px;
}
.cart-item-after{
width: 27px;
height: 27px;
margin-top:4px;
position: absolute;
/*-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);*/
color: #fff;
display: table-cell;
vertical-align: middle;
text-align: center;
}

.home-pahe-title{
	font-size:16px;
	
}
@media(max-width:767px){
	.cart-item {
		position: absolute;
		width: 20px;
		height: 20px;
		line-height: 12px;
		font-size: 11px;
		background: #2d84b6;
		border-radius: 1px;
		margin-top: -11px;
		margin-left: -29px;
	}
	
	.cart-item-after {
		width: 19px;
		height: 19px;
	}
	
	.home-pahe-title{
		margin-top:10px;
		font-size:12px;
	}
}

.special-timere-zone{
position: relative;
margin-top: 2px;
text-align: center;
}
.special-timer-all {
width: 48px;
background: #2C2C2C;
float: left;
}
.special-timer-info{
display: block;
color: #FFFFFF;
font-size: 14px;
}
.special-timer-line{
display: block;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.special-timer-text{
display: block;
font-size: 11px;
}
.timere-zone{
background: #2C2C2C;
text-align: center;
}
.product-timer-info{
display: inline-block;
color: #FFFFFF;
font-size: 16px;
padding:5px;
}
.product-timer-line{
display: inline-block;
color: #777;
font-size: 14px;
font-weight: 400;
}
.product-timer-text{
display: inline-block;
font-size: 11px;
}
.pr-name{
color: #2f2f2f;
font-size: 27px;
font-weight: 800;
}
.glyphicon-star-empty {
color: #51473c!important;
}
#reviewst .fa-stack-2x {
font-size: 1em;
color: #51473c;
}
#review .fa-stack {
width: 1em;
height: 1em;
color: #51473c;
}
.img-thumbnail {
transition: none;
}
.manimgmen{
margin: 0 auto;
}
.counter-footer{
margin-bottom: 5px;
}
.options_none{
display: none;
}
.fixsl {
margin-top: 15px
}
.options_group{
margin-bottom: 15px;
}
.text-danger {
    font-size: 18px;
    color: red;
}
.middle-banners {
margin-bottom: 10px;
}
#product label, #product_quickw label{
margin-bottom: 0px;
}
.options-prheight{
display: block;
margin-bottom: 12px;
}
ul.atr {
margin-bottom: 1px;
max-width: 40em;
padding: 0;
overflow-x: hidden;
list-style: none;
}
ul.atr li:before {
float: left;
width: 0;
white-space: nowrap;
content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . ";
}
ul.atr span:first-child {
padding-right: 0.33em;
background: white;
}
ul.atr span + span {
float: right;
padding-left: 0.33em;
background: white;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


#logo {
/* height: 90px; */
position: relative;
display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#logo img {
	max-height: 117px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#popup-modal{
max-width: 720px;
margin: 0 auto;
}
.modal {
text-align: center;
}
@media screen and (min-width: 768px) {
[class*='product-product-'] .mfp-counter {
right: 10px;
color: #000;
}
[class*='product-product-'] .mfp-bottom-bar {
background: #fff;
padding: 7px;
}
.modal:before {
display: inline-block;
vertical-align: middle;
content: " ";
height: 100%;
}
}
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}
*{
outline-width: 0px!important;
}
.buttonsaridius_news a:hover{
text-decoration: none;
color: #ceb478;
}
.image_main {
float: right;
margin-top: 12px;
}
.btn-send {
border: none;
border-radius: 0;
color: #fff;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
padding: 5px 10px;
text-align: center;
background: #fff;
}
.mailletters .btn:focus {
box-shadow: none;
}
.mailletters-popup .btn:focus {
box-shadow: none;
}
.mailletters .btn-send {
background: none;
border: none;
border-radius: 0;
color: #fff;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
padding: 5px 10px;
text-align: center;
left: -23px;
}
.mailletters-popup .btn-send {
background: none;
border: none;
border-radius: 0;
color: #fff;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
padding: 12px 14px;
text-align: center;
background: #D10000;
}
.mailletters .btn-send:hover {
color: #D0FF00;
}
.mailletters-popup .btn-send:hover {
background: #B90000;
}
.box-category > ul > li a:hover{
color: #ceb478;
}
.stmver li a:hover .arrowvertmenu{
color: #ceb478;
}
.stmver li a:hover {
color: #ceb478;
}
.stmver li:hover {
color: #ceb478;
}
.owl-carousel .owl-buttons div i {
font-size: 16px;
margin: -20px 0 0;
color: #797979;
}
.pagcolor .owl-pagination{
margin-top: -22px
}
.nobackground {
background: none!important;
box-shadow: none!important;
}
.mfp-figure:after {
background: #fff!important;
}
.mfp-bottom-bar .mfp-title {
color: #000;
}
.category2lv-center{
text-align: center;
}
.desc-cat{
margin-top: 25px;
}
.glyphicon-star{
color: #51473c;
cursor:pointer;
font-size: 24px;
position: relative;
top: 7px;
}
.glyphicon-star-empty{
font-size: 24px;
cursor:pointer;
position: relative;
top: 7px;
}
.img-thumbnail {
border: none;
}
.small, small {
font-size: 13px;
}
.desc-cat_top {
margin-bottom: 45px;
}
.breadcrumb > li > a{
color: #777;
font-size: 13px;
}
.breadcrumb > li > a:hover{
color: #ceb478;
}
.opacityhv:hover{
/*opacity: 0.8;*/

}
.opacityhv{
margin-bottom: 5px;
display: inline-block;
}
.catpr{
color: #777;
font-size: 14px;
    text-align: center;
}
.catpr2{
color: #718072;
font-size: 12px;
display: block;
text-transform: uppercase;
font-weight: 500;
margin-top: 12px;
}
.catpr2:hover {
color: #FA7000;
}
.catpr-all{
margin-bottom: 20px;
}
.catpr:hover{
color: #ceb478;
}
.tabpr{
margin-top: 45px;
}
.phone{
top: 4px;
position: relative;
display: inline-block;
font-weight: 500;
}
.dropdown{
cursor: pointer;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
display: block;
margin: 0;
}
a.menu:after, .dropdown-toggle:after {
content: none;
}
.stickers-top{
width: 33px;
height: 33px;
background: #A99D90;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
position: relative;
margin: 20px;
}
.stickers-special{
width: 33px;
height: 33px;
background: #D10000;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
position: relative;
margin: 20px;
}
.stickers-new{
width: 33px;
height: 33px;
background: #FA7000;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
position: relative;
margin: 20px;
}
.stickertop{
position: relative;
top: -7px;
}
.positionsticker{
position: absolute;
top: 40px;
margin-left: -5px;
}
.positionsticker_spec{
position: absolute;
top: -5px;
left: 55px;
}
.owl-prev, .owl-next {
width: 13px;
height: 13px;
background: #F5F5F5;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
position: relative;
border: 1px solid #868687;
}
.owl-prev i, .owl-next i {
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: 13px;
color: #797979;
text-transform: uppercase;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.diamont_st{
width: 33px;
height: 33px;
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: 13px;
color: #fff;
text-transform: uppercase;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.setifooter{
position: absolute;
}
.setifooter{
width: 33px;
height: 33px;
background: #F5F5F5;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
position: relative;
margin: 8px;
float: left;
border: 1px solid #868687;
}
.diamont_seti{
width: 33px;
height: 33px;
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: 13px;
color: #797979;
text-transform: uppercase;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.topflags{
position: relative;
top: -2px;
}
.dropdown-menu{
box-shadow: none;
}
.dropdown-menu > li > a {
color: #777;
}
.activetopmenu{
color: #777!important;
}
#menu li a:hover{
color: #777;
}
#menu .dropdown-inner1 a {
clear: both;
color: #000;
display: block;
font-size: 12px;
line-height: 20px;
min-width: 160px;
padding: 5px 10px 0px 10px;
text-transform: uppercase;
white-space: pre;
text-align: left;
}
.dropdown-inner1 ul li a:hover {
color: #ceb478!important;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
background-color: transparent;
color: #ceb478;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
z-index: 1010;
}
.fixxs {
display: inline-block;
}
.listunstyled {
list-style: none;
cursor: pointer;
}
.list-inline {
margin-top: 5px;
}
.btncart {
border: none;
color: #777;
}
.cart-br{
border: 1px solid #ddd;
}
.basket{
font-size: 42px!important;
color: #777;
}
.basket2{
font-size: 22px!important;
margin-top: -3px;
}
.btncart:hover {
color: #ceb478;
}
.imgpopcat{
color: #FA7000;
}

.radio .view{
display: inline-block;
text-align: center;
}
#top-menu{
z-index: 1005;
}
/* Mobile menu */
/* Скрыть пункты меню 3го уровня */
.children_lv3 {
display: none;
}
/* скрыть бэкграунд ссылок выпадающего меню */
.open > a {
background: none !important;
}
.fa.fa-angle-down.menu {
left: 6px;
position: relative;
}
#menu .plus {
float: right;
margin-top: 18px;
margin-right:35px;
}
#menu .fa.fa-minus {
display: none;
}
.fa.fa-plus {
display: block;
}
.rowimg{
margin-left: 8px;
}
.owl-controls .owl-page.active span {
background: #51473c;
}
.desk{
width: 358px;
padding: 12px;
height: 62px;
}
.nav > li > a:focus, .nav > li > a:hover {
background-color: transparent;
border-color: transparent;
}
.tell_nav{
font-size: 14px;
letter-spacing: 3px;
}
.catfl_nav{
font-size: 15px;
color: #777;
letter-spacing: 1px;
}
.fa-stack-1x, .fa-stack-2x {
left: 1px;
}
.dropdown-menu {
z-index: 1008;
}
.cart-info{
font-size: 16px;
color: #777;
}
a.cart-info:hover{
font-size: 16px;
color: #ceb478;
cursor: pointer;
}
.btn-cart {
border-radius: 0;
display: inline-block;
font-size: 12px;
letter-spacing: 1px;
line-height: 13px;
padding: 12px;
text-align: center;
text-transform: uppercase;
}
#addtocart .btn-cart {
margin-top: 5px;
}
.btn-instock {
background: #F1F1F1;
border: medium none;
border-radius: 0;
border: 1px solid #c8c8c8;
color: #868583;
display: inline-block;
font-size: 12px;
letter-spacing: 1px;
line-height: 13px;
padding: 11px;
margin: 0 10px;
text-align: center;
text-transform: uppercase;
}
.btn-instock2 {
background: #F1F1F1;
border: medium none;
border-radius: 0;
border: 1px solid #c8c8c8;
color: #868583;
display: inline-block;
font-size: 12px;
letter-spacing: 1px;
line-height: 13px;
padding: 11px;
text-align: center;
text-transform: uppercase;
}
[class*='product-product-'] .btn-instock {
margin: 0;
}
.btn-cart2{
background: #fff none repeat scroll 0 0;
border: 1px solid #9EAAAC;
border-radius: 0;
color: #222;
display: inline-block;
font-size: 12px;
letter-spacing: 1px;
line-height: 13px;
padding: 9px 10px;
text-align: center;
}
.btn-wishlist{
border-radius: 0;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
line-height: 13px;
margin: 0 8px 0 0;
padding: 9px 10px;
text-align: center;
width:35px;
height:35px;
}
.btn-compare{
border-radius: 0;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
line-height: 15px;
margin: 0 8px 0 0;
padding: 9px 10px;
text-align: center;
width:35px;
height:35px;
}
.btn-quickview{
border-radius: 0;
display: inline-block;
float: none;
font-size: 12px;
letter-spacing: 1px;
line-height: 15px;
margin: 0 8px 0 0;
padding: 9px 10px;
text-align: center;
}
.cart{
text-align:center;
display: block;
margin-bottom: 10px;
}
.modal-header {
border-bottom: none;
}
.modal-body p {
font-size:14px
}
.form-control {
border-radius: 0;
}
.product-layout2 {
margin-bottom: 1px;
margin-top: 2px;
background: #fff;
}
.product-layout1 {
border: 1px solid #c8c8c8;
margin-bottom: 1px;
background: #fff;
}
.tabst h2 {
font-size: 14px;
}
.text-write{
font-weight: 800;
font-size: 16px;
}
.caption a {
color: #6a6a6a;
font-size: 16px;
font-weight: 400;
}
.product-layout {
border-right: none;
margin-bottom: 35px;
}
.product-layoutcat {
border-right: none;
margin-bottom: 35px;
}
.product-change .product-thumb {
padding-bottom: 10px;
margin-bottom: 20px;
}
.line1 {
border-bottom: 1px solid #C8C8C8;
height: 1px;
}
.line2 {
border-bottom: 1px solid #C8C8C8;
height: 1px;
}
.navbar-nav :first-child > a{
background: none;
}
.caption a {
color: #232323;
font-size: 16px;
font-weight: 400;
}
.navbar {
margin-bottom: -1px;
}
hr {
margin-bottom: 1px;
margin-top: 1px;
}
.footersoc {
float: right;
cursor: pointer;
font-size: 15px;
}
/* scroll to top */
.scup{
position:fixed;
z-index:1010;
bottom:85px;
right:33px;
width: 27px;
height: 27px;
background: #F5F5F5;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-radius: 1px;
border: 1px solid #868687;
}
a.scup {
outline:0;
text-align: center;
}
a.scup i {
font-size: 23px;
color: #797979;
text-transform: uppercase;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
a.scup i:hover {
text-decoration:none;
color: #ceb478;;
}
.list-unstyled li  span a{
color: #ceb478;
}
.namelink a:hover{
color: #ceb478;
}
.list-unstyled li a:hover{
color: #ceb478;
}
#review .fa-stack-2x {
font-size: 1em;
}
.breadcrumb {
background-color: transparent;
border-radius: 0;
}
.catfl{
border: 1px solid #ddd;
margin-left: 0px;
margin-right: 0px;
}
li a.redwine {
color: #ceb478;
}
.btn-default2{
color: #777;
border: none;
box-shadow: none;
}
#list-view.btn.active, #list-view.btn:active, #grid-view.btn.active, #grid-view.btn:active {
box-shadow: none;
}
.btn-default2.active{
color: #2f2f2f;
}
.btn-listgrid{
color: #2f2f2f;
}
footer .fa-ul{
color: #777;
font-size: 14px;
}
footer .fa-ul a{
color: #777;
font-size: 14px;
}
footer .fa-ul a:hover{
color: #ceb478;
}
.liposition {
margin-left: 17px;
}
.footer_contacts{
color: #272727;
font-size: 30px;
font-weight: 500;
margin-bottom: 35px;
margin-left: 12px;
margin-top: 23px;
text-transform: uppercase;
}
.info-block{
margin-left:12px;
font-size: 16px;
}
.block-contacts{
width: 18%;
height:320px;
position: absolute;
top: 0px;
z-index:1000;
/*angrytools.com/gradient*/
background: -webkit-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Safari 5.1-6*/
background: -o-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Opera 11.1-12*/
background: -moz-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Fx 3.6-15*/
background: linear-gradient(to left, rgba(255,255,255,0.1), rgba(255,255,255,1)); /*Standard*/
}
.block-contacts2{
width: 18%;
height:320px;
position: absolute;
top: 0px;
right:0px;
z-index:1000;
/*angrytools.com/gradient*/
background: -webkit-linear-gradient(right,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Safari 5.1-6*/
background: -o-linear-gradient(right,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Opera 11.1-12*/
background: -moz-linear-gradient(right,rgba(255,255,255,0.1),rgba(255,255,255,1)); /*Fx 3.6-15*/
background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,1)); /*Standard*/
}
#search .form-control, #mail_letters.form-control {
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: none;
}
#search .btn:focus {
box-shadow: none;
}
#mail_letters {
border: none;
border-bottom: 1px solid #fff;
}
[class*='product-category-'] .block-contacts, [class*='product-product-'] .block-contacts {
width: 282px;
}
.for-block-contacts .block-contacts {
width: 282px;
}
.product-special .block-contacts, .product-search .block-contacts, .information-aridius_news .block-contacts, .product-manufacturer .block-contacts  {
width: 282px;
}
.block-contacts li a{
color: #272727;
font-weight: 500;
}
.block-contacts li{
color: #3E424A;
margin-top: 7px
}
.block-contacts li:hover,.block-contacts li a:hover {
color: #CEB478;
cursor: pointer;
}
.btn-listgrid:focus,
.btn-listgrid.focus {
color: #2f2f2f;
}
.btn-listgrid:hover {
color: #2f2f2f;
}
.btn-listgrid:active,
.btn-listgrid.active,
.open > .dropdown-toggle.btn-listgrid {
color: #2f2f2f;
}
.pagination > li > a, .pagination > li > span {
color: #777;
margin-left: 7px;
border-radius: 50px;
}
.pagination > li > a:hover, .pagination > li > span:hover {
background: #51473c;
color: #FFF;
border-radius: 50px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
border-bottom-left-radius: inherit;
border-top-left-radius: inherit;
border-radius: 50px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
border-bottom-right-radius: inherit;
border-top-right-radius: inherit;
border-radius: 50px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
background: #51473c;
color: #FFF;
border-radius: 50px;
}
.rating a {
color: #777;
font-size: 15px;
position: relative;
cursor: pointer;
}
.rating a:hover {
color: #ceb478;
}
.linetoppr {
border-bottom: 1px solid #ddd;
}
hr {
border-top: 1px solid #ddd;
}
.list-unstyled  {
font-size: 14px;
}
.items-count {
background-color: #f8f8f8;
border: medium none;
clear: both;
color: #222;
float: left;
font-size: 8px;
height: 18px;
width: 25px;
}
.form-group #input-quantity {
background: #f1f1f1 none repeat scroll 0 0 !important;
border: 0 none;
border-radius: 0;
box-shadow: none;
color: #2f2f2f;
display: inline-block;
float: left;
font-size: 15px;
height: 35px;
margin: 0;
padding: 0;
text-align: center;
width: 60px !important;
}
.priceproduct-old{
color: #d10000;
font-size: 18px;
text-decoration: line-through;
margin-right: 8px;
font-weight: 600;
}
.mfp-bottom-bar .priceproduct-old{
font-size: 12px;
}
.priceproduct-new{
color: #232323;
font-size: 24px;
font-weight: 600;
margin-top: 8px;
margin-bottom: 8px;
}
.mfp-bottom-bar .priceproduct-new{
font-size: 14px;
}
.thumbnail {
background-color: inherit;
border: inherit;
}
footer .fa-stack{
color: #A99D90;
margin-right: 4px;
}
footer .fa-stack:hover{
color: #9AB9A5!important;
}
.rigimg {
margin-top: 25px;
}
.block {
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 12px;
}
.block::before, .block::after {
content: '';
position: absolute;
left: 40px; bottom: -20px;
border: 10px solid transparent;
border-top: 10px solid #ddd;
}
.block::after {
border-top: 10px solid #FFFFFF;
bottom: -19px;
}
.nav-tabs > li > a {
text-transform: uppercase;
font-size: 14px;
color: #777;
}
.nav-tabs > li > a:hover {
color: #ceb478;
}
.nav-tabs.mod>li>a {
border-radius: 0;
}
.nav-tabs h2{
margin-top: 3px;
margin-bottom: 3px;
font-weight: 400;
}
.nav-tabs h2 > li > a:hover {
color: #ceb478;
}
.noline{
background: none!important;
}
.padding-carusel .owl-carousel .owl-item {
padding: 0 15px;
}
.animatetabs {
position: relative;
}
/* ---------------- */
/* call phone effect*/
/* ---------------- */
.container-circle{
float:left;
position: fixed;
bottom: 15px;
left: 33px;
z-index: 10005;
transform: rotate(60deg);
}
@-webkit-keyframes spinfon {
0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #A99D90;}
50% { -moz-transform:rotate(145deg); opacity:0.7; }
100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinfon {
0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #A99D90;}
50% { -moz-transform:rotate(145deg); opacity:0.7; }
100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@keyframes spinfon {
0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #A99D90;}
50% { -moz-transform:rotate(145deg); opacity:0.7; }
100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spintell {
0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-moz-keyframes spintell {
0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes spintell {
0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
/* vmenu*/
.mcol{
margin-top: 3px;
margin-bottom: 3px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.vopmen{
margin-bottom: 10px;
}
.vopmen:hover{
opacity: 0.95;
}
.submenu_main{
display:inline!important;
padding: 0!important;
}
.menuv_3lv{
padding: 3px 0!important;
}
.menuv-allv {
color: #ceb478 !important;
margin-left: -10px!important;
}
.menuv-allv:hover {
text-decoration: underline!important;
}
.dropdown.hidev{
cursor: pointer;
}
.menuv-all{
margin-left:7px;
color: #ceb478!important;
}
.menuv-all:hover{
text-decoration: underline;
}
.tomvmenu .opacityhv {
display: inline;
left: 0;
margin-right: 7px;
margin-bottom: 7px;
position: relative;
}
.arrowvertmenu {
color: #777;
float: right;
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: #ccc;
margin-top: 10px;
margin-right: 22px;
}
.column_width1{
min-width: 160px;
white-space: nowrap;
}
#menu .nav .hidem > li > a:hover, #menu .nav .hidem > li.open > a {
line-height: 43px;
margin-top: -12px;
}
#menu .nav .hidem > li > a:hover, #menu .nav .hidem > li.open > a {
height: 62px;
}
#menu .nav .hidem > li.activetopmenu > a:hover, #menu .nav .hidem > li.open > a {
height: 62px;
}
#menu .nav .hidem > li > a {
background-color: transparent;
color: #fff;
font-weight: 400;
line-height: 20px;
min-height: 15px;
padding: 15px 15px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
text-transform: uppercase;
}
.dropdown-menu .btn-link:hover, .dropdown-menu a:hover{
color: #ceb478!important;
}
li.activetopmenu {
}
.nav .hidem>li>a {
position: relative;
display: block;
padding: 10px 15px;
}
.v3hover a:hover{
color: #ceb478!important;
}
.menuv_3lv{
color: #000;
}
.tomvmenu{
margin-top: 7px;
margin-bottom: 7px;
padding-left: 0;
padding-right: 0;
}
.multi-level{
width:340px;
}
#menu li .dropdown-submenu a:hover {
color: #ceb478;
}
.dropdown-menu.multi-level > li > a{
clear: both;
color: #000;
display: block;
font-size: 15px;
line-height: 27px;
min-width: 160px;
padding: 5px 10px 0;
text-align: left;
white-space: pre;
}
.submenu_main{
color: #000;
display: inline;
font-size: 14px;
margin-bottom: 5px;
text-transform: uppercase;
}
.dropdown-menu2 {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 10px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}
.dropdown-menu2.pull-right {
right: 0;
left: auto;
}
.dropdown-menu2 .divider {
height: 1px;
margin: 9px 0;
overflow: hidden;
background-color: #e5e5e5;
}
.dropdown-menu2 > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
}
.dropdown-menu2 > li > a:hover,
.dropdown-menu2 > li > a:focus {
color: #262626;
text-decoration: none;
}
.dropdown-menu2 > .active > a,
.dropdown-menu2 > .active > a:hover,
.dropdown-menu2 > .active > a:focus {
color: #fff;
text-decoration: none;
background-color: #337ab7;
outline: 0;
}
.dropdown-menu2 > .disabled > a,
.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
color: #777;
}
.dropdown-menu2 > .disabled > a:hover,
.dropdown-menu2 > .disabled > a:focus {
text-decoration: none;
cursor: not-allowed;
background-color: transparent;
background-image: none;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu2 {
display: block;
}
.open > a {
outline: 0;
}
.dropdown-menu2-right {
right: 0;
left: auto;
}
.dropdown-submenu {
position: relative;
}
.dropdown-submenu:hover {
background: #F7F7F7;
}
.dropdown-submenu>.dropdown-menu2 {
top: 0;
left: 100%;
margin-top: -5px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
}
.dropdown-submenu:hover>.dropdown-menu2 {
display: block;
}
.dropdown-submenu.pull-left {
float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu2 {
left: -100%;
margin-left: 10px;
}
/* vmenu end*/
/* ---------------------*/
/* call phone effect end*/
/* -------------------- */
.effect-hover p {
text-align: center;
display: block;
opacity: 0;
transition: opacity 0.95s, transform 0.95s;
}
.product-layout1:hover .effect-hover p, .product-layout2:hover .effect-hover p{
opacity: 0.9;
}
.effect-hover .wishlist, .effect-hover .compare, .effect-hover .quickview {
font-size: 13px;
color: #868583;
border: 1px solid #c8c8c8;
padding: 5px;
}
.effect-hover .wishlist:hover, .effect-hover .compare:hover, .effect-hover .quickview:hover {
color: #A99D90;
}
/* ---------------- */
/* effect hover banner */
/* ---------------- */
.hover-textbanner {
color: #fff;
font-size: 16px;
height: 8em; /*верт выравнивание*/
line-height: 2em; /*верт выравнивание*/
text-transform: uppercase;
text-align: center;
}
/*делаем фото кликабильным*/
.hover-textbanner::before,
.hover-textbanner::after {
pointer-events: none;
}
.effect-banner {
position: relative;
overflow: hidden;
text-align: center;
cursor: pointer;
}
.hover-textbanner,
.hover-textbanner > a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}
.hover-textbanner:hover,
.hover-textbanner:hover > a {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
transition: opacity 0.45s, transform 0.45s;
opacity: 0.9;
}
.effect-banner .hover-textbanner::before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,0.2);
content: '';
-webkit-transition: -webkit-transform 1.1s;
transition: transform 1.1s;
-webkit-transform: scale3d(1.8,1.3,1) rotate3d(0,0,1,45deg) translate3d(0,-167%,0);
transform: scale3d(1.8,1.3,1) rotate3d(0,0,1,45deg) translate3d(0,-167%,0);
}
.effect-banner img {
opacity: 0.95;
}
.effect-banner:hover img {
opacity: 0.8;
}
.effect-banner:hover .hover-textbanner::before {
-webkit-transform: scale3d(1.8,1.3,1) rotate3d(0,0,1,45deg) translate3d(0,167%,0);
transform: scale3d(1.8,1.3,1) rotate3d(0,0,1,45deg) translate3d(0,167%,0);
}
/* effect hover banner END */
.popupsize{
max-width: 720px;
margin: 0 auto;
background: #fff;
}
.popupsize2{
padding: 5px;
}
.name-popup{
color: #444;
font-size: 15px;
line-height: 33px;
padding: 0 0 0 15px;
}
.popupsizebor{
border-bottom: 1px solid #F5F5F5;
}
.popupsize{
position: relative;
background:#FFFFFF!important;
}
.popupsize .mfp-close {
background: #F0F0F0!important;
height: 35px!important;
cursor: pointer !important;
line-height: 35px!important;
width: 35px!important;
}
.popupsize .mfp-close span {
color: red!important;
}
.mfp-content {
vertical-align: top !important;
top: 10%;
}
#product-tab .nav-tabs {
border-top: 1px solid #ddd;
border-bottom: none;
}
#product-tab .nav-tabs > li, #product-tab .nav-pills > li {
float:none;
display:inline-block;
*display:inline; /* ie7 fix */
zoom:1; /* hasLayout ie7 trigger */
}
#product-tab .nav-tabs, #product-tab .nav-pills {
text-align:center;
}
#product-tab .nav-tabs.mod > li.active > a, #product-tab .nav-tabs.mod > li.active > a:focus, #product-tab .nav-tabs.mod > li.active > a:hover {
border-top: 1px solid #1d1d1d;
position: relative;
}
#product-tab .nav-tabs > li.active > a, #product-tab .nav-tabs > li.active > a:focus, #product-tab .nav-tabs > li.active > a:hover {
border-color: transparent;
background: inherit;
}
.table-striped>tbody>tr:nth-of-type(odd) {
background-color: #fff;
}
.modal-content {
border-radius: 0;
}
.buttonsall_news {
display: inline;
}
.buttonsall_news a {
color: #888684;
display: inline;
text-decoration: underline;
}
.buttonsall_news a:hover {
color: #ceb478;
text-decoration: none;
}
.groupcat {
padding-top: 35px;
padding-bottom: 20px;
}
.fixnewsgrid{
margin: 10px;
}
.fixnewslist{
margin: 10px 10px -1px -5px;
}
.newsdesc{
padding: 11px;
text-align: left;
}
/* column-left */
#column-left .product-thumb .image {
float: left;
margin-right: 10px;
}
#column-left .product-thumb .button-group {
display: none;
}
#column-left .cart {
display: none;
}
#column-left .product-thumb {
margin-bottom: 10px;
margin-left: -5px;
margin-right: -5px;
margin-top: 10px;
overflow: hidden;
}
.sixe_price .price {
font-size: 20px;
}
.sixe_price {
padding: 5px 0px!important;
}
#column-left .product-layout {
margin-bottom: 20px;
}
#column-left .row {
margin-right: 0px;
margin-left: 0px;
}
#column-left .product-thumb h4 {
height: auto;
}
#column-left .stickers-special {
margin-left: -20px;
margin-top: 2px;
}
#column-left .stickers-top,#column-left .stickers-new {
margin-left: -20px;
}
#plus .fa-angle-up {
font-size:16px;
}
#minus .fa-angle-down {
font-size:16px;
}
.dropdown-menu > li > a {
padding: 3px 15px;
}
.pagination > li > a, .pagination > li > span {
border: none;
}
.form-control:focus {
border-color: #C2A86B;
outline: 0;
box-shadow: none;
}
footer .list-unstyled li ,footer .list-unstyled li a {
display: block;
font-size: 14px;
font-weight: 400;
margin-top: 5px;
letter-spacing: 0.6px;
}
.wishlist, .compare, .quickview {
cursor: pointer;
}
.style2lv{
font-weight: 400;
font-size: 14px;
}
.dsfsdf{
display: block;
}
.btn-link:focus, .btn-link:hover {
text-decoration: none;
}
#top {
min-height: 40px;
}
.top-header{
padding: 10px 0;
padding: 10px 0;
}
.top-header.bcolor{
background: #000000;
}
.cartphotos{
display: inline-block;
margin-top: -5px;
}
.form-control {
height: 37px;
}
.banner-margin{
margin: 0 0 14px!important;
}
.mailletters{
width: 75%;
}
.mailletters-popup{
width: 75%;
}
.footer_mailtext{
margin-bottom: 8px;
font-weight: 800;
text-transform: uppercase;
font-size: 12px;
}
.footer_add{
margin-top: 20px;
}
.copyrightf{
    padding: 10px;
margin-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}
.call-order,#undersell-order {
cursor: pointer;
}
.effectb{
position: relative;
    margin: 10px 0;
}
.text-time{
font-size: 12px;
}
.text-timepr{
font-size: 13px;
color: #fff;
}
#undersell-order, .popup-modal {
text-decoration: underline;
}
#undersell-order:hover, .popup-modal:hover{
text-decoration: none;
color: #23527c!important;
}
.zoomContainer {
z-index: 1000;
}
.quickw{
max-width: 755px;
margin: 0 auto;
background: #fff;
position: relative;
}
.quickw .mfp-content {
vertical-align: top!important;
top: 10%;
}
.quickw .mfp-close {
background: #F0F0F0!important;
height: 35px!important;
cursor: pointer !important;
line-height: 35px!important;
width: 35px!important;
}
.quickw .mfp-close span {
color: red!important;
}
.fastorder2{
padding: 15px 25px 15px 25px;
}
.quickw2{
padding: 15px 25px 15px 25px;
}
.quickwgroup{
border-bottom: 1px solid #F5F5F5;
}
.line-product{
padding:10px 0 10px 0;
}
.infoimg {
float: left;
padding-right: 7px;
position: relative;
top: -35px
}
.infotext {
overflow:hidden;
}
.fixcenter{
margin: 0 auto;
display: block;
}
.rewardin{
color: #74A378;
}
.rewardoff{
color: #D5333E;
}
/* max-width:479px */
@media(max-width:478px){
.timespecial.image{
margin-bottom: 18px;
}
}
/* min-width:479px */
@media(min-width:479px){
.timespecial.image{
float: left;
}
}
/* max-width:768px */
@media(max-width:767px){
.opacityhv {
margin: 0 auto;
}
.cat_clear:nth-child(2n+3){
clear: left;
}
.product-info {
margin-bottom: 20px;
}
.aboutus_footer {
padding: 0 15px;
}
.possm{
margin-left: 21px;
}
.tell_nav{
font-size: 12px;
}
.footer_mailtext {
margin-top: 15px;
}
.navright{
display: inline-block;
float: right;
margin-right: 10px;
}
.item-title {
display: block;
text-align: center;
}
.effect-phoebe p a {
opacity: 1!important;
-webkit-transform: translate3d(0,0,0)!important;
transform: translate3d(0,0,0)!important;
}
#cart > .btn {
margin-top: 1px;
}
/* scroll to top */
.scup{
position:fixed;
z-index:1010;
bottom:40px;
right:10px;
}
a.scup {
outline:0;
text-align: center;
}
a.scup:hover,a.scup:active,a.scup:focus {
opacity:1;
text-decoration:none;
}
a.scup i {
margin-top: 10px;
color: #ADCDD6;
font-size:47px;
}
a.scup i:hover {
text-decoration:none;
color: #ADCDD8;;
}
#cart {
margin-left: -1px;
}
.rigimg {
float: left;
}
.navbar-nav > li > a {
background: none;
}
.zoomContainer {
display: none !important;
}
.navcentr {
text-align: center;
position: relative;
list-style-type: none;
}
#logo img {
margin-left: auto;
margin-right: auto;
}
.fix_true {
max-width:661px;
}
}
/* min-width:768px */
@media(min-width:768px) {
.catpr2{
/*float: left;*/
}
.effect-phoebe p a {
opacity: 0;
}
.fixformtime{
margin-left: -5px!important;
}
.fixformtime2{
margin-right: -5px!important;
}
}
/* min-width:992px */
@media (min-width: 992px) {
li.activetopmenu > a  {
margin-top: 10px;
}
.navbar-nav .hidem>li {
float: left;
}
.nav .hidem>li {
position: relative;
display: block;
}
.manufac-menu{
text-align: center;
}
.circle {
animation: spinfon 1.4s infinite linear;
-moz-animation: spinfon 1.4s infinite ease-in-out;
-webkit-animation: spinfon 1.4s infinite linear;
border-radius: 500px;
height: 50px;
margin: 0 auto;
width: 50px;
}
.circleout {
animation: spintell 2s infinite linear ;
-webkit-animation: spintell 2s infinite linear;
-moz-animation: spintell 2s infinite linear;
border-radius: 55px;
color: #fff;
font-size: 22px;
line-height: 53px;
height: 55px;
margin: 0 auto;
text-align: center;
position: relative;
top: -52px;
width: 55px;
}
#menu .dropdown-inner ul {
display: inline-block;
}
#menu .children-category .list-unstyled {
vertical-align: top;
padding-bottom: 10px;
position: relative;
}
.top-mainmenu{
margin-top:10px;
}
#menu .dropdown:hover .dropdown-menu {
margin-top: 0px;
opacity: 1;
visibility: visible;
height: auto;
-webkit-transition-delay: 0.3s;
-moz-transition-delay: 0.3s;
-o-transition-delay: 0.3s;
transition-delay: 0.3s;
}
#menu .dropdown-menu {
display:block;
border-radius: 0;
position: absolute;
margin-top: 25px;
opacity: 0;
visibility: hidden;
}
.affix {
top: -6px;
z-index: 101;
width: 100%;
position: fixed!important;
}
/* плюс пунктов меню справа и поправка некоторых багов*/
a.plus-link {
display: none !important;
}
.children_lv3 {
display: list-item !important;
}
.mobhidden{
display: none;
}
/* end */
#menu .dropdown-inner {
display: block;
width: 710px;
}
#menu .children-category .list-unstyled {
margin-left: 6px;
}
#menu .plus{
display: none;
}
.fixslbann {
margin-top: 15px
}
#menu .dropdown-inner {
display: block;
width: 930px;
}
}
@media (max-width: 992px) {
#menu .nav > li > a:hover, #menu .nav > li.open > a {
border-top: none;
}
#menu .nav > li > a {
border-top: none;
}
.effect-hover p {
opacity: 1;
}
.hidev{
display: none!important;
}
.circle {
animation: spinfon 1.4s infinite linear;
-moz-animation: spinfon 1.4s infinite ease-in-out;
-webkit-animation: spinfon 1.4s infinite linear;
border-radius: 300px;
height: 30px;
margin: 0 auto;
width: 30px;
}
.circleout {
animation: spintell 2s infinite linear ;
-webkit-animation: spintell 2s infinite linear;
-moz-animation: spintell 2s infinite linear;
border-radius: 55px;
color: #fff;
font-size: 15px;
line-height: 33px;
height: 35px;
margin: 0 auto;
text-align: center;
position: relative;
top: -32px;
width: 35px;
}
.image_main {
display: none;
}
.navbar-nav .open .dropdown-menu {
position: static;
float: none;
width: auto;
margin-top: 0;
background-color: transparent;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
#menu .dropdown-inner ul {
display: inline-block;
margin-bottom: 7px;
}
#menu .children-category .list-unstyled {
vertical-align: top;
position: relative;
}
.navbar-header {
float: none;
}
.navbar-left,.navbar-right {
float: none !important;
}
.navbar-toggle {
display: block;
}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
}
.navbar-collapse.collapse {
display: none!important;
}
.navbar-nav {
float: none!important;
margin-top: 7.5px;
}
.navbar-nav>li {
float: none;
}
.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
}
.collapse.in{
display:block !important;
overflow-x: hidden;
}
#menu {
border-radius: 4px;
}
#menu div.dropdown-inner > ul.list-unstyled {
display: block;
}
#menu div.dropdown-menu {
margin-left: 0 !important;
padding-bottom: 10px;
}
#menu .dropdown-inner {
display: block;
}
#menu .dropdown-inner a {
width: 100%;
color: #fff;
}
#menu .dropdown-menu a:hover,
#menu .dropdown-menu ul li a:hover {
color: #000;
}
#menu .see-all {
margin-top: 0;
border: none;
border-radius: 0;
color: #fff;
}
#menu .dropdown-inner1 a {
color: #fff;
}
#top-menu {
top:0px;
z-index: 101;
width:100%;
position: relative!important;
}
a.plus-link {
position: relative;
right: -55px;
text-align: left;
top: -27px;
background: transparent !important;
width: 20px !important;
float: right;
}
#menu ul.list-unstyled {
width: 100% !important;
text-align: left !important;
}
#menu .dropdown-inner {
width: auto !important;
}
.children_lv3 > a {
text-align: left !important;
}
#menu .fa.fa-angle-down.menu {
display: none;
}
#menu .with-child{
margin-right: 56px;
clear: none;
}
.fixxsmenu{
top: 65%;
left: 30%;
}
}
/* max-width:1200px */
@media (max-width: 1199px) {
.tomvmenu .opacityhv {
display: none;
}
.column_width2{
width: 622px;
}
.column_width3{
width: 622px;
}
}
/* min-width:1200px */
@media(min-width:1200px){
.cat_clear:nth-child(4n+5){
clear: left;
}
#cart {
top: -15px;
}
.column_width2{
width: 812px;
}
.column_width3{
width: 812px;
}
.fixxsmenu{
top: 82%;
left: 10%;
}
#search{
/*top: 44px;*/
}
#search.input-group{
width: 70%;
}
#logo{
left: -30px;
}
#menu .dropdown-inner {
display: block;
margin-top: 10px;
width: 1129px;
}
.fix_true {
max-width: 430.5px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.cat_clear:nth-child(3n+4){
clear: left;
}
#logo {
/*top: 20px;*/
}
.navcentr{
bottom: 20px;
}
.navright{
display: inline-block;
float: right;
}
#search.input-group{
width: 93%;
margin-left: 22px;
/*margin-top: 55px;*/
}
.tell_nav{
margin-left: 39px;
}
footer h5 {
font-size: 13px;
letter-spacing: 1px;
}
.fix_true {
max-width:225px;
}
}
@media (min-width: 993px) and (max-width: 1200px) {
.cat_clear:nth-child(3n+4){
clear: left;
}
#logo {
top: 20px;
}
.fixxsmenu{
top: 50%;
left: 30%;
}
.navcentr{
bottom: 20px;
}
#search.input-group{
width: 85%;
margin-left:21px;
margin-left: 22px;
/* margin-top: 55px; */
}
.tell_nav{
margin-left: 110px;
}
.fix_true {
max-width:307.5px;
}
#column-left .product-thumb .image {
min-width: 183px;
margin-bottom: 7px;
}
}
@media (min-width: 768px) and (max-width: 993px) {
#column-left .product-thumb .image {
float: none!important;
}
#column-left .product-thumb {
margin-left: 0!important;
}
#column-left .product-thumb .image {
margin-right: 0!important;
}
}
@media (max-width: 514px) {
.tell_nav{
margin-left: 22px;
}
}
@media (min-width: 515px) and (max-width: 767px) {
}
#product .radio, #product_quickw .radio  {
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
margin-bottom: 0px;
text-align: center;
}
#product .radio label, #product_quickw .radio label  {
padding-left:0px;
}
#product .radio input:checked + .im_option, #product_quickw .radio input:checked + .im_option {
border: 1px solid #737373;
background: #51473c;
color: #fff;
}
.im_option {
color: #777;
background: #fff;
padding: 7px 16px;
border: 1px solid #9eaaac;
font-size: 14px;
display: block;
}
.nav-tabs .active a h2{
color:#000;
}
.nav-tabs.mod {
border-top: 1px solid #ddd;
border-bottom: 0;
}
.nav-tabs.mod>li.active>a, .nav-tabs.mod>li.active>a:focus, .nav-tabs.mod>li.active>a:hover {
border-top: 1px solid #1d1d1d;
border-left: 0;
border-right: 0;
margin-top: -1px;
}
.tabst h2:hover {
color: #ceb478;
}
#product .checkbox, #product_quickw .checkbox {
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
margin-bottom: 0px;
text-align: center;
}
#product .checkbox label, #product_quickw .checkbox label {
padding-left:0px;
}
#product .checkbox input:checked + .im_option, #product_quickw .checkbox input:checked + .im_option {
border: 1px solid #737373;
background: #51473c;
color: #fff;
}
#product h3 {
padding: 0px;
}
.img_sticky {
position: fixed;
}
.img_stop {
position: relative;
}
.title_h3 {
text-align: center;
font-size: 30px;
padding: 2px;
color: #272727;
font-weight: 500;
}
.title_h {
overflow: hidden;
}
.title_center {
text-align: center;
font-size: 30px;
margin-bottom: 20px;
color: #272727;
font-weight: 500;
}
.title_h:before,
.title_h:after {
content: '';
display: inline-block;
vertical-align: middle;
box-sizing: border-box;
width: 100%;
height: 1px;
background: #C8C8C8;
margin-right: 11px;
margin-left: 11px;
}
.title_h:before {
margin-left: -100%;
}
.title_h:after {
margin-right: -100%;
}



/* My style */

#product .radio {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
}

#product .radio label {
    margin: 0;
    padding: 0;
}

#product .option label > span {
    height: auto;
    margin: 0;
    padding: 3px 10px;
}

.option {
    position: relative;
    margin: 0 0 5px;
}

.option select {
    width: auto;
    height: 23px;
    margin: 0 0 10px;
    padding: 0 5px;
    line-height: 18px;
    font-size: .85em;
    border-radius: 3px;
}

.option input[type='radio'], .option input[type='checkbox'] {
    display: none;
}

label {
    text-align: left !important;
    font-size: 1.0em;
    font-weight: 400;
}

.option label {
    font-weight: 500;
    cursor: pointer;
    margin: 0px;
}

.option div label:first-child {
    margin: 0 0 5px;
}

.option label input[type="radio"] + span, .option label input[type="checkbox"] + span {
    display: block;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    padding: 0 6px;
    font-size: 0.85em;
    width: auto;
    height: 21px;
    line-height: 18px;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}

.option label > span:hover:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, .05);
}

.option label span span {
    margin: 0 0 0 3px;
}

.option input[type='radio']:checked + span, .option input[type='checkbox']:checked + span {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

.option input[type='radio'] + span.img {
    min-height: 22px;
    background: none;
    border: none;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, .12);
    padding: 0px !important;
    transition: all ease-in-out .2s;
}

.option input[type='radio']:checked + span.img {
    background: none;
    box-shadow: none;
    border-color: transparent;
}

.option input[type='radio'] + span.img img {
    width: 70px;
    border-radius: 6px;
    border: none;
    padding: 3px;
}

.product-thumb .option input[type='radio'] + span.img img {
    width: 20px
}

.option input[type='radio'] + span.img:before {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    content: '';
    border: solid 2px transparent;
    border-radius: 3px;
    background: none;
    transition: all ease-in-out .2s;
}

.option input[type='radio']:checked + span.img:before {
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border: solid 2px #FA7000;
}

.product-thumb .option span.img + span {
    display: none
}

.product-thumb .option .text-danger {
    position: absolute;
    top: -6px;
    background: #eee;
    border: solid 1px #ccc;
    padding: 2px 9px 3px;
}

.product-thumb .option .text-danger:after {
    content: '';
}

label {
    text-align: left !important;
    font-size: 1.2em;
    font-weight: 300;
}

label.input input[type="radio"], label.input input[type="checkbox"] {
    display: none
}

label input[type="radio"] + span, label input[type="checkbox"] + span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 0;
    background: #e5e5e5;
    width: 14px;
    min-height: 14px;
    height: 14px;
    border: solid 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

label.input input[type="radio"] + span {
    border-radius: 100%;
}

label.input input[type="radio"]:checked + span, label.input input[type="checkbox"]:checked + span {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2)
}

.option label .imgpopcat {
    display: block;
    height:20px;
    width: 20px;
    /*border: 1px solid #000;*/
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: xx-large;
    /*color: #FA7000;*/
}