﻿#mailModal .close {
opacity:0.9;
background: #000;
color: #fff;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: -10px;
width: 24px;
z-index: 100;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}
.textdanger{
color: #000;
}
.textsuccess{
color: #000;
}
.mailletters .btn-lg, .mailletters-popup .btn-lg {
font-size: 12px;
line-height: 12px;
padding: 10px;
}
.mailletters .input-lg, .mailletters-popup .input-lg {
height: 32px;
line-height: 20px;
padding: 0 10px;
}
#mailModal .close:hover {
background: #474747;
}
#mailModal .modal-dialog{
max-width: 600px;
}
#mailModal .mailletters, #mailModal .mailletters-popup  {
width: 68%;
position: absolute;
top: 62%;
left: 16%;
}
.message_email_popup, .message_compare_popup, .message_success_popup {
position: absolute;
bottom: 105%;
left: 1px;
background: white;
padding: 0 5px;
z-index: 100;
}
#mailModal .modal-body {
padding: 0px;
}
#mailModal .modal-header {
min-height: 0px;
padding: 0px;
}
@media screen and (max-width: 515px) {
#mailModal .mailletters, #mailModal .mailletters-popup  {
top: 45%;
}
#mailModal .mailletters .input-lg, #mailModal .mailletters-popup .input-lg {
height: 24px;
}
#mailModal .mailletters .btn-lg, #mailModal .mailletters-popup .btn-lg {
font-size: 12px;
line-height: 12px;
padding: 6px 16px 6px 16px;
}
}