.aridius_news-layout2 {
border: 1px solid #A2B8A4;
}
.aridius_news-caption {
padding: 8px;
}
.pull-center{
font-size: 15px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
top: -23px;
position: relative;
}
.pull-center a{
text-decoration: none;
color: #272727;
}
.pull-center a:hover{
color: #51473C;
text-decoration: underline;
}
.aridius_news-hover:hover{
opacity: 0.8;
}
.read-more a{
color: #6E6E6E;
display: block;
position: relative;
text-align: left;
}
.read-more a:hover{
text-decoration: underline;
}
.aridius_news-hover {
display: inline-block;
}
.grid-aridius_news {
position: relative;
overflow: hidden;
height: auto;
text-align: center;
cursor: pointer;
padding: 6px;
}
.item-title	 a{
color: #272727;
}
.description-aridius_news p{
color: #888684;
}
.item-title{
height: 50px;
}
.item-title a:hover {
color: #ceb478;
}
.grouph{
padding: 1px;
}
.pad img {
padding: 0 30px 0 0!important;
}
.caption-left{
text-align: left!important;
padding: 0px!important;
}
.morecolor:hover{
color: #23527c;
}
@media (min-width: 992px) {
.posted-aridius_newshome{
float: left;
}
}