﻿.undersell textarea{
resize: vertical;
}
.undersell{
max-width: 500px;
margin: 0 auto;
background: #fff;
}
.undersell2{
padding: 15px 25px 15px 25px;
}
.name-popup{
color: #444;
font-size: 15px;
line-height: 33px;
padding: 0 0 0 15px;
}
.name-product{
color: #444;
font-weight: 500;
font-size: 26px;
margin-bottom: 17px;
}
.undersellf{
border-bottom: 1px solid #F5F5F5;
}
.undersell{
position: relative;
background:#FFFFFF!important;
}
.formundersell{
padding-left: 15px;
padding-right: 15px;
}
.formundersell .form-group {
margin-bottom: 1px;
}
.btnfast {
margin: 0 auto;
display: block;
}
.priceall{
text-align: center;
}
.priceold-product{
color: #232323;
font-size: 24px;
font-weight: 600;
display: inline;
}
.price-product{
color: #d10000;
font-size: 18px;
font-weight: 600;
text-decoration: line-through;
}
.undersell .mfp-close {
background: #F0F0F0!important;
height: 35px!important;
cursor: pointer !important;
line-height: 35px!important;
width: 35px!important;
}
.undersell .mfp-close span {
color: red!important;
}
