.namelink{
margin-left: 20px;
margin-top: 10px;
padding: 7px 0;
display: inline-block;
}
.rightwallchild{
margin-left: 22px;
}
.rightwallchild li{
margin-bottom: 8px;
}
.namelink a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #777;
text-transform: uppercase;
}
.list-unstyled li a{
color: #777;
}
.rightwallchild li a {
display: block;
margin-bottom: 8px;
}
.catwall .list-unstyled li  span a:hover{
text-decoration: underline;
}
.product-layoutwall2 {
background: #fff none repeat scroll 0 0;
border: 1px solid #c8c8c8;
margin-bottom: 30px;
}
/* Mobile */
@media screen and (max-width: 767px) {
.catwall .col-xs-1:nth-child(12n+1),
.catwall .col-xs-2:nth-child(6n+1),
.catwall .col-xs-3:nth-child(4n+1),
.catwall .col-xs-4:nth-child(3n+1),
.catwall .col-xs-6:nth-child(2n+1){
clear: left;
}
}
@media (min-width:767px){
/* Column clear fix */
.catwall .col-lg-1:nth-child(12n+1),
.catwall .col-lg-2:nth-child(6n+1),
.catwall .col-lg-3:nth-child(4n+1),
.catwall .col-lg-4:nth-child(3n+1),
.catwall .col-lg-6:nth-child(2n+1),
.catwall .col-md-1:nth-child(12n+1),
.catwall .col-md-2:nth-child(6n+1),
.catwall .col-md-3:nth-child(4n+1),
.catwall .col-md-4:nth-child(3n+1),
.catwall .col-md-6:nth-child(2n+1){
clear: none;
}
.catwall .col-sm-1:nth-child(12n+1),
.catwall .col-sm-2:nth-child(6n+1),
.catwall .col-sm-3:nth-child(4n+1),
.catwall .col-sm-4:nth-child(3n+1),
.catwall .col-sm-6:nth-child(2n+1){
clear: left;
}
}
/*  Medium Desktop  */
@media (min-width:992px){
/* Column clear fix */
.catwall .col-lg-1:nth-child(12n+1),
.catwall .col-lg-2:nth-child(6n+1),
.catwall .col-lg-3:nth-child(4n+1),
.catwall .col-lg-4:nth-child(3n+1),
.catwall .col-lg-6:nth-child(2n+1),
.catwall .col-sm-1:nth-child(12n+1),
.catwall .col-sm-2:nth-child(6n+1),
.catwall .col-sm-3:nth-child(4n+1),
.catwall .col-sm-4:nth-child(3n+1),
.catwall .col-sm-6:nth-child(2n+1){
clear: none;
}
.catwall .col-md-1:nth-child(12n+1),
.catwall .col-md-2:nth-child(6n+1),
.catwall .col-md-3:nth-child(4n+1),
.catwall .col-md-4:nth-child(3n+1),
.catwall .col-md-6:nth-child(2n+1){
clear: left;
}
}
/*  Large Desktop  */
@media (min-width:1200px){
.catwall .product-thumb {
display: inline-block;
float: right;
padding: 10px 0 10px 0;
text-align: center;
}
/* Column clear fix */
.catwall .col-md-1:nth-child(12n+1),
.catwall .col-md-2:nth-child(6n+1),
.catwall .col-md-3:nth-child(4n+1),
.catwall .col-md-4:nth-child(3n+1),
.catwall .col-md-6:nth-child(2n+1),
.catwall .col-sm-1:nth-child(12n+1),
.catwall .col-sm-2:nth-child(6n+1),
.catwall .col-sm-3:nth-child(4n+1),
.catwall .col-sm-4:nth-child(3n+1),
.catwall .col-sm-6:nth-child(2n+1){
clear: none;
}
.catwall .col-lg-1:nth-child(12n+1),
.catwall .col-lg-2:nth-child(6n+1),
.catwall .col-lg-3:nth-child(4n+1),
.catwall .col-lg-4:nth-child(3n+1),
.catwall .col-lg-6:nth-child(2n+1){
clear: left;
}
}