.box-category {
margin-top: -5px;
padding-left: 14px;
padding-right: 14px;
}
.box-category ul {
list-style: none;
margin: 0;
padding: 0;
}
.box-category > ul > li {
padding: 8px 22px 8px 0;
}
.box-category > ul > li ul {
display: none;
}
.box-category > ul > li a.active {
font-weight: 500;
}
.box-category > ul > li a {
font-size: 15px;
color: #777;
}
.box-category > ul > li a.active + ul {
display: block;
}
.box-category > ul > li ul > li {
padding: 6px 6px 0 15px;
}
.box-category > ul > li ul > li > a {
display: block;
}
.box-category > ul > li ul > li > a.active {
font-weight: 500;
}