.box-category {
margin-top: -5px;
padding-left: 14px;
padding-right: 14px;
}
.box-category ul {
list-style: none;
margin: 0;
padding: 0;
}
.box-category > ul > li {
padding: 8px 22px 8px 0;
}
.box-category > ul > li ul {
display: none;
}
.box-category > ul > li a.active {
font-weight: 500;
}
.box-category > ul > li a {
font-size: 15px;
color: #777;
}

.box-category > ul > li a.active + ul {
display: block;
}
.box-category > ul > li ul > li {
padding: 6px 6px 0 15px;
}
.box-category > ul > li ul > li > a {
display: block;
}
.box-category > ul > li ul > li > a.active {
font-weight: 500;
}
.box-category .accordion li.dcjq-parent-li {position: relative;}
.box-category .accordion li.dcjq-parent-li .dcjq-icon {float: right; width: 8px; position: absolute; top: 8px; right: -12px; background: url(../image/plus.png) no-repeat 0 center; cursor:pointer}
.box-category .accordion li.dcjq-parent-li .dcjq-icon:hover {background: url(../image/plus.png) no-repeat 0 center;}
.box-category .accordion li.dcjq-parent-li > a + .dcjq-icon {display: block; width: 8px; background: url(../image/plus.png) no-repeat 0 center;}
.box-category .accordion li.dcjq-parent-li > a.active + .dcjq-icon {display: block; width: 8px; background: url(../image/minus.png) no-repeat 0 center;}
.box-category .accordion li > a + .dcjq-icon {display: none;}
.box-category .accordion li > a.active + .dcjq-icon {display: none;}
@media (min-width: 768px) and (max-width: 992px) {
.box-category {
padding-left:0px!important;
}
.box-category > ul > li a {
font-size:13px!important;
}
}