.owl-carousel {
    background-color: transparent;
}

.owl-controls.clickable {
    height: 0;
}

header {
    margin-bottom: 0;
}

#menu.navbar {
    margin-bottom: 0;
}

#content {
    padding-top: 20px;
    min-height: 0;
}

#slideshow0 {
    margin: 0;
}

.breadcrumb {
    margin-top: 20px;
}

footer h2 {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

footer hr {
    display: none;
}

body.boxed #page-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

#vie-promotion-content-container {
    margin-top: 30px;
}

.contact-information-list i, .contact-information-list p {
    display: inline-block;
}

.contact-information-list li {
    padding: 0;
}

.contact-information-list i {
    vertical-align: top;
    padding-top: 5px;
    padding-right: 5px;
}


/* Main */

body {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
}

#page-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
}


/* Headings */


/* Top Bar */

#top .nav .open > a {
    background-color: transparent;
}

#top {
    background-color: rgb(0, 138, 204);
    border-top: none;
    border-bottom: none;
    color: transparent;
}

#top .btn-link, #top-links li, #top-links a {
    color: rgb(255, 255, 255);
    text-shadow: none;
}

#top .btn-link:hover, #top-links a:hover {
    color: rgb(255, 255, 255);
    text-shadow: none;
}

#top .dropdown-menu .btn-link, #top-links .dropdown-menu a, #top .dropdown-menu li > a {
    color: rgb(0, 158, 234);
}

#top #currency .currency-select:hover, #top-links .dropdown-menu a:hover, #top .dropdown-menu li > a:hover {
    background-color: rgb(217, 218, 223);
    background-image: none;
    color: rgb(0, 169, 250);
}


/* Header */

header {
    background-color: rgb(0, 131, 193);
}


/* Search */

#search .input-lg {
    background-color: rgb(0, 99, 147);
    border-color: transparent;
    color: rgb(255, 255, 255);
}

#search .input-lg:focus {
    color: rgb(251, 251, 251);
}

#search .input-group-btn button {
    background-image: none;
    background-color: rgb(0, 99, 147);
    border-color: rgb(0, 99, 147);
    box-shadow: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
}

#search .input-group-btn button:hover {}


/* Cart */

#cart > .btn {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
}


/* Main Navigation */

#menu {
    background-color: rgb(0, 111, 164);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

#menu .nav > li > a {
    color: rgb(255, 255, 255);
    text-shadow: none;
}


/* Navigation Submenus */

#menu .dropdown .dropdown-menu {
    background-color: rgb(0, 136, 204);
}

#menu .dropdown-inner li a {
    color: rgb(255, 255, 255);
}

#menu .dropdown-inner li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 153, 230);
    background-image: none;
}

#menu .see-all {
    color: rgb(255, 255, 255);
    border-top-color: rgb(44, 148, 200);
}

#menu .see-all:hover, #menu .see-all:focus {
    background-image: none;
    background-color: rgb(0, 153, 230);
}


/* Product Listing */

.product-thumb .button-group button[onclick^="cart"] {
    background-color: rgb(255, 255, 255);
}

.product-thumb .button-group button[onclick^="cart"]:hover {
    background-color: rgb(0, 136, 204);
    color: rgb(255, 255, 255);
}

.product-thumb .button-group button[onclick^="compare"] {
    background-color: rgb(255, 255, 255);
}

.product-thumb .button-group button[onclick^="compare"]:hover {
    background-color: rgb(82, 185, 181);
    color: rgb(255, 255, 255);
}

.product-thumb .button-group button[onclick^="wishlist"] {
    background-color: rgb(255, 255, 255);
}

.product-thumb .button-group button[onclick^="wishlist"]:hover {
    background-color: rgb(237, 73, 73);
    color: rgb(255, 255, 255);
}


/* Footer */

footer {
    background-color: rgb(18, 18, 20);
    color: rgb(119, 119, 119);
}


/* Bottom */

#bottom {
    padding: 17px 0;
}

#bottom .payment-methods ul {
    list-style: none;
    margin-bottom: 0;
    text-align: right;
}

#bottom .payment-methods li {
    display: inline-block;
    width: 50px;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 0px 5px;
}

#bottom {
    background-color: rgb(12, 12, 12);
}


/* Form Elements */

.form-control {
    color: transparent;
}


/* BREADCRUMB */


/* LIST */

.list-group-item {
    background-color: rgb(251, 251, 251);
}

.list-group a {
    color: rgb(119, 119, 119);
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    background-color: rgb(0, 136, 204);
    color: rgb(255, 255, 255);
    text-shadow: none;
}