@media(min-width:992px) {
.stickersmenu-2lvsale {
background: #F37A82;
color: #fff;
font-size: 10px;
line-height: 10px;
padding: 3px 8px;
position: absolute;
top: -14px;
z-index: 100;
display: block;
}
.stickersmenu-2lvsale::after {
background: #F37A82;
bottom: -3px;
content: "";
height: 8px;
left: 7px;
position: absolute;
transform: rotate(45deg);
width: 10px;
z-index: -100;
}
.stickersmenu-2lvtop {
background: #A1C0AC;
color: #fff;
font-size: 10px;
line-height: 10px;
padding: 3px 8px;
position: absolute;
top: -14px;
z-index: 100;
display: block;
}
.stickersmenu-2lvtop::after {
background: #A1C0AC;
bottom: -3px;
content: "";
height: 8px;
left: 7px;
position: absolute;
transform: rotate(45deg);
width: 10px;
z-index: -100;
}
.stickersmenu-2lvnew {
background: #78A1BA;
color: #fff;
font-size: 10px;
line-height: 10px;
padding: 3px 8px;
position: absolute;
top: -14px;
z-index: 100;
display: block;
}
.stickersmenu-2lvnew::after {
background: #78A1BA;
bottom: -3px;
content: "";
height: 8px;
left: 7px;
position: absolute;
transform: rotate(45deg);
width: 10px;
z-index: -100;
}
.stickersmenu1 {
content: '';
display: block;
position: absolute;
right: 30px;
top: -21px;
line-height: 16px;
font-family: 'Verdana';
font-size: 10px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #3C3C3C;
z-index: 1;
}
.stickersmenu1:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #3C3C3C   ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}
.stickersmenu2 {
content: '';
display: block;
position: absolute;
right: 30px;
top: -21px;
line-height: 16px;
font-family: 'Verdana';
font-size: 10px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #D10000 ;
z-index: 1;
}
.stickersmenu2:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #D10000 ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}
.stickersmenu3 {
content: '';
display: block;
position: absolute;
right: 30px;
top: -21px;
line-height: 16px;
font-family: 'Verdana';
font-size: 10px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #a99d90  ;
z-index: 1;
}
.stickersmenu3:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #a99d90  ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}
}
@media(max-width:993px) {
.stickersmenu1, .stickersmenu-2lvnew{
background: #3C3C3C;
color: #fff;
display: inline!IMPORTANT;
padding: 3px;
margin-left: 12px;
font-size: 10px;
}
.stickersmenu2, .stickersmenu-2lvsale{
background: #d10000;
color: #fff;
display: inline!IMPORTANT;
padding: 3px;
margin-left: 12px;
font-size: 10px;
}
.stickersmenu3, .stickersmenu-2lvtop{
background: #a99d90;
color: #fff;
display: inline!IMPORTANT;
padding: 3px;
margin-left: 12px;
font-size: 10px;
}
}
.stickersmenu1v {
content: '';
display: inline!IMPORTANT;
position: absolute;
line-height: 16px;
font-size: 10px;
margin-left: 12px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #3C3C3C;
z-index: 1;
}
.stickersmenu1v:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #3C3C3C   ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}
.stickersmenu2v {
content: '';
display: inline!IMPORTANT;
position: absolute;
line-height: 16px;
font-size: 10px;
margin-left: 12px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #D10000;
z-index: 1;
}
.stickersmenu2v:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #D10000   ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}
.stickersmenu3v {
content: '';
display: inline!IMPORTANT;
position: absolute;
line-height: 16px;
font-size: 10px;
margin-left: 12px;
color: #fff;
text-transform: uppercase;
padding: 0 5px;
background: #a99d90;
z-index: 1;
}
.stickersmenu3v:after {
content: '';
display: block;
position: absolute;
top: 7px;
right: 8px;
width: 10px;
height: 10px;
background: #a99d90   ;
transform: rotate(110deg) skewX(50deg);
z-index: -1;
}