<?php echo $header; ?>
<div class="container">
<div class="row"><?php echo $column_left; ?>
<?php if ($column_left && $column_right) { ?>
	<?php $class = 'col-sm-6'; ?>
	<?php } elseif ($column_left || $column_right) { ?>
	<?php $class = 'col-sm-9'; ?>
	<?php } else { ?>
	<?php $class = 'col-sm-12'; ?>
	<?php } ?>
<div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
<ul class="breadcrumb">
<?php foreach ($breadcrumbs as $i=> $breadcrumb) { ?>
	<li><?php if($i+1<count($breadcrumbs)) { ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a><?php } else { ?><?php echo $breadcrumb['text']; ?><?php } ?></li>
	<?php } ?>
</ul>	
<h1><?php echo $heading_title; ?></h1>
	    <?php if ($thumb || $description) { ?>
      <div class="row">
        <?php if ($thumb) { ?>
        <div class="col-sm-2"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" class="img-thumbnail" /></div>
        <?php } ?>
        <?php if ($description) { ?>
        <div class="col-sm-10"><?php echo $description; ?></div>
        <?php } ?>
      </div>
      <hr>
		<?php } ?>
<?php if ($products) { ?>
	<div class="clearfix">	</div>
	<div class="col-sm-12 catfl">
	<div class="row">
	<div class="col-sm-3 hidden-xs">
	<div class="btn-group">
	<button type="button" id="list-view" class="btn btn-default2" data-toggle="tooltip" title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
	<button type="button" id="grid-view" class="btn btn-default2" data-toggle="tooltip" title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
	</div>
	</div>
	<div class="col-xs-12 col-sm-9">
	<div class="col-xs-12 col-sm-6 col-md-7 col-lg-6 navright">
	<?php if ($fractal_sort_cat !=1) { ?>
		<div class="form-group input-group input-group-sm">
		<label class="input-group-addon" for="input-sort"><i class="fa fa-sort"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_sort; ?></span></label>
		<select id="input-sort" class="form-control" onchange="location = this.value;">
		<?php foreach ($sorts as $sorts) { ?>
			<?php if ($sorts['value'] == $sort . '-' . $order) { ?>
				<option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
				<?php } else { ?>
				<option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
				<?php } ?>
			<?php } ?>
		</select>
		</div>
		<?php } ?>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 navright">
	<?php if ($fractal_count_cat !=1) { ?>
		<div class="form-group input-group input-group-sm">
		<label class="input-group-addon" for="input-limit"><i class="fa fa-eye"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_limit; ?></span></label>
		<select id="input-limit" class="form-control" onchange="location = this.value;">
		<?php foreach ($limits as $limits) { ?>
			<?php if ($limits['value'] == $limit) { ?>
				<option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
				<?php } else { ?>
				<option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
				<?php } ?>
			<?php } ?>
		</select>
		</div>
		<?php } ?>
	</div>
	</div>
	</div>
	</div>
	<div class="row">
	<?php foreach ($products as $product) { ?>
		<div class="product-layoutcat product-list col-xs-12 ">
		<div class="product-layout2">
		<div class="product-thumb">
		<div class="image"><?php echo $product['sticker']; ?><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
		<div class="positionsticker">
		<!-- special -->
		<?php if ($fractal_sticker_sale_product_auto !=1 && $product['special'] && $product['price_sticker'] != 0) { ?>
		<?php  $percent = round(100 - ($product['special_sticker'] / $product['price_sticker']) * 100); ?>
		<div class="stickers-special"><span class="diamont_st">-<?php echo $percent; ?>%</span></div>
		<?php } ?>
		<!-- special END -->
		<!-- new -->	
		<?php
		$startDate1 = strtotime(mb_substr($product['dateadded'], 0, 10));
		$endDate2 = strtotime(date("Y-m-d"));
		$days = ceil(($endDate2 / 86400)) - ceil(($startDate1 / 86400));
		?>
		<?php if($fractal_sticker_new_product_auto !=1 && $days < $fractal_sticker_product_new_day || $fractal_sticker_new_product_auto !=0 && $product['stickers'] == 1) { ?>
		<div class="stickers-new"><span class="diamont_st"><?php echo $fractal_name_sticker_product_new[$language_id]; ?></span></div>
		<?php } ?>
		<!-- new END -->	
		<!-- top -->
		<?php if ($fractal_sticker_top_product_auto !=1 && $fractal_sticker_product_top_ratinr == 1 && $product['rating'] == $fractal_sticker_product_top_rating || $fractal_sticker_top_product_auto !=1 && $fractal_sticker_product_top_ratinr == 2 && $product['viewed'] >  $fractal_sticker_product_top_viewed || $fractal_sticker_top_product_auto !=0 && $product['stickers'] == 2 ) { ?> 
		<div class="stickers-top"><span class="diamont_st"><?php echo $fractal_name_sticker_product_top[$language_id]; ?></span></div>
		<?php } ?>
		<!-- top END -->
		</div>	
		<div>
		<div class="caption">
		<h4><a href="<?php echo $product['href']; ?>">
		<?php  
		if( strlen($product['name'] ) < $fractal_limit_symbolst) { 
			echo $product['name']; 
		} 
		else {
			echo mb_substr( $product['name'],0,$fractal_limit_symbolst,'utf-8' )."..."; } 
		?>
		</a></h4>
		<p class="description_cat"><?php echo $product['description']; ?></p>
		<?php if ($fractal_rating_cat !=1) { ?>				
			<div class="rating">
			<?php for ($i = 1; $i <= 5; $i++) { ?>
				<?php if ($product['rating'] < $i) { ?>
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					<?php } else { ?>
					<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
					<?php } ?>
				<?php } ?>
			</div>
			<?php } ?>

						<?php if ($product['benefits']) { ?>
				<div class="benefits col-sm-12 hidden-sm hidden-xs">
				<div class="benefit-text"><?php echo $text_benefits; ?></div>
					<ul class="benefit">
					<?php foreach ($product['benefits'] as $benefit) { ?>	
						<?php if ($benefit['type'] == 1) { ?>
							<li class="col-sm-1">
								<?php if (!$benefit['link']) { ?>
								   <span class="thumb"><img class="img-responsive" src="<?php echo $benefit['thumb']; ?>" alt="<?php echo $benefit['name']; ?>" /></span>
								<?php } else { ?> 
								   <a href="<?php echo $benefit['link']; ?>" target="_blank" title="<?php echo $benefit['name']; ?>"><span class="thumb"><img class="img-responsive" src="<?php echo $benefit['thumb']; ?>" alt="<?php echo $benefit['name']; ?>" /></span></a>
								<?php } ?>
								<?php if ($benefit['description']) { ?>
								<div class="benefit_description"><?php echo $benefit['description']; ?></div>
								<?php } ?>
							</li>
						<?php } ?> 
					<?php } ?>
					</ul>
					</div>
					<div class="present hidden-sm hidden-xs">
						<?php foreach ($product['benefits'] as $benefit) { ?>	
							<?php if ($benefit['type'] == 0) { ?>
								<div>
									<?php if (!$benefit['link']) { ?>
										<span class="thumb"><img class="img-responsive" src="<?php echo $benefit['thumb']; ?>" alt="<?php echo $benefit['name']; ?>" /></span>
									<?php } else { ?> 
										<a href="<?php echo $benefit['link']; ?>" target="_blank" title="<?php echo $benefit['name']; ?>"><span class="thumb"><img class="img-responsive" src="<?php echo $benefit['thumb']; ?>" alt="<?php echo $benefit['name']; ?>" /></span></a>
									<?php } ?>
								</div>
							<?php } ?> 
						<?php } ?>
					</div>
				<?php } ?>
		
		<?php if ($product['price']) { ?>
			<p class="price">
			<?php if (!$product['special']) { ?>
				<?php echo $product['price']; ?>
				<?php } else { ?>
				<span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
				<?php } ?>
			<?php if ($product['tax']) { ?>
				<span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
				<?php } ?>
			</p>
			<?php } ?>
					<div class="cart">
		<?php if ($product['quantity'] <= 0 && $aridiusinstock_status ) { ?>
			<button type="button" class="btn-instock" onclick="instock.add('<?php echo $product['product_id']; ?>');" data-product-id="<? echo $product['product_id']; ?>"><?php echo $button_instock; ?></button>
			<?php } else { ?>
			<button type="button" class="btn-cart" onclick="cart.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-shopping-cart"></i> <?php echo $button_cart; ?></button>
			<?php } ?>
		</div>
		<div class="effect-hover">
		<p>
		<?php if ($fractal_wishlist_cat !=1) { ?>
			<a class="wishlist" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-fw fa-heart"></i></a>
			<?php } ?>	
		<?php if ($fractal_compare_cat !=1) { ?>	
			<a class="compare" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-fw fa-exchange"></i></a>
			<?php } ?>
		<?php if ($aridius_qckview_status) { ?>	
			<a class="quickview" data-toggle="tooltip" title="<?php echo $button_quickview; ?>" onclick="quickview_open('<?php echo $product['product_id']; ?>');"><i class="fa fa-fw fa-search"></i></a>
			<?php } ?>
		</p>
		</div>	
		</div>
	    </div>
		</div>
		</div>  </div>
		<?php } ?>
	</div>
	<div class="row">
	<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
	<div class="col-sm-6 text-right"><?php echo $results; ?></div>
	</div>
	<?php }  else { ?>
	<p><?php echo $text_empty; ?></p>
	<div class="buttons">
	<div class="pull-right"><a href="<?php echo $continue; ?>" class="btn-cart"><?php echo $button_continue; ?></a></div>
	</div>
	<?php } ?>
<?php echo $content_bottom; ?>
<?php if ($description_bottom) { ?>
<div class="col-sm-12"><?php echo $description_bottom; ?></div>
<?php } ?>
</div>
<?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>